@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

body {
  background: #ffffff;
  color: #21293c;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #eeeeff;
  color: #0000FF;
}

* { box-sizing: border-box; }
a { color: inherit; }
